src/IAMReader/IAMReader/SitesMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="type" type="xsd:string"/>
	<xsd:element name="password">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="Port" type="xsd:string"/>
	<xsd:element name="Name" type="xsd:string"/>
	<xsd:element name="Host" type="xsd:string"/>
	<xsd:element name="GenericProfileObjects">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LoadProfile" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LoadProfile" type="xsd:string"/>
	<xsd:element name="Device">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Host"/>
				<xsd:element ref="Port"/>
				<xsd:element ref="Authentication"/>
			</xsd:sequence>
			<xsd:attribute name="Type" type="xsd:string" use="required"/>
			<xsd:attribute name="Protocol" type="xsd:string" use="required"/>
			<xsd:attribute name="Manufacturer" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Description">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="DataObjects">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ActivePower" maxOccurs="1"/>
                <xsd:element ref="ReactivePower" maxOccurs="1"/>
                <xsd:element ref="PF" maxOccurs="1"/>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ActivePower" type="xsd:string"/>
    <xsd:element name="ReactivePower" type="xsd:string"/>
    <xsd:element name="PF" type="xsd:string"/>
    <xsd:element name="DataProcessing">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Sum" type="xsd:double"/>
                <xsd:element name="Count" type="xsd:int"/>
                <xsd:element name="IntervalDateTime" type="xsd:dateTime"/>
                <xsd:element name="Period" type="xsd:int"/>
                <xsd:element name="ProfileDateTime" type="xsd:dateTime"/>
                <xsd:element name="ProfilePeriod" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DLMSSite">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name"/>
				<xsd:element ref="Description"/>
				<xsd:element ref="Device"/>
				<xsd:element ref="ArrayOfOBIS"/>
                <xsd:element ref="DataProcessing"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Authentication">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="type"/>
				<xsd:element ref="password"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ArrayOfOBIS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DataObjects"/>
				<xsd:element ref="GenericProfileObjects"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ArrayOfDLMSSite">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DLMSSite" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
